
body {
	font-size: 17px;
}
section>h2:first-child {
	font-size: 0.8rem;
	line-height: 1em;
	padding-left: 0.4rem;
	border-left: 2px solid #D33A31;
	margin: 0.9rem 0 0.34rem 0;
}
.playlist,
.latest-music {
	background: #FCFCFD;
}
.topbar {
	background: #D43C33;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 0.8rem 0.48rem;
}
.topbar .logo {
	width: 6.08rem;
}
.topbar .download-APP{
	text-decoration: none;
	color: #fff;
	border: 1px solid;
	line-height: 2em;
	padding: 0 0.32rem;
	border-radius: 0.8rem;
}

.site-nav > ol {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	text-align: center;
}

.site-nav > ol > li.reco {
	flex-grow: 1;
}

.site-nav > ol > li.hot {
	flex-grow: 1.2;
}

.site-nav > ol > li.ser {
	flex-grow: 1.5;
}

.site-nav li span{
	position: relative;
	display: inline-block;
	line-height: 2.4em;
	padding: 0 0.32rem;
}

.site-nav li.active span {
	color: #D43C33;
}

.site-nav li.active span:after {
	content: '';
	position: absolute;
	left: 0;
	bottom: 0;
	width: 100%;
	border-bottom: 2px solid #D43C33;
}

.pageContent {
	border-top: 1px solid #F0F0F0;
	background: #FCFCFD;
}
.pageContent>li {
	display: none;
}
.pageContent>li.active {
	display: block;
}


.playlist > ul {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	flex-wrap: wrap;
}
.playlist > ul > li {
	width: calc(33.333333% - 0.08rem);
	margin-bottom: 0.48rem;
}
.playlist .cover-pic {
	width: 100%;
}
.playlist .descr {
	padding: 2px 2px 0 6px;
	margin-bottom: 0.16rem;
	font-size: 0.54rem;
	display: block;
	display: -webkit-box;
	height: 2.6em;
	line-height: 1.3em;
	-webkit-line-clamp: 2;
	-webkit-box-orient: vertical;
	overflow: hidden;
	text-overflow: ellipsis;
}

.song-list{
	padding: 0.32rem 0;
}

.loadingCt>img.loading {
	display: block;
	margin: 0 auto;
}

.loadingCt>img {
	display: none;
}

.song-list li {
	padding-left: calc(0.4rem + 2px);
	margin-bottom: 0.32rem ;
	position: relative;
	border-bottom: 1px solid #F1F1F2;
}
.song-list .skip {
	display: block;
	text-decoration: none;
	color: #000;
}
.song-list li h3 {
	font-size: .74rem;
}

.song-list li p {
	font-size: .53rem;
	color: #888888;
	display: flex;
	align-items: center;
}

.song-list li  p > svg {
	fill: #FE672E;
	width: .72rem;
	height: .72rem;
}

.song-list li  a > svg {
	fill: #888888;
	width: 1.04rem;
	height: 1.04rem;
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	right: .48rem;
}

.hotSgLt .hotCover {
	width: 16rem;
	height: 6.4rem;
	position: relative;
	background: #A85A45;
	overflow: hidden;
}

.hotSgLt .hotCover .img-ct {
	width: 100%;
	height: 4rem;
	margin-top: 0.7rem;
	margin-left: .64rem;
	overflow: hidden;
	position: relative;
}
.hotSgLt .img-ct>img,
.hotSgLt .hotCover>p{
	width: 8rem;
	position: absolute;
	color: #fff;
	font-size: 0.3rem;
}
.hotSgLt .img-ct>img{	
	top: -1.2rem;
	left: -1.2rem;
}
.hotSgLt .hotCover>p {
	left: .63rem;
	bottom: 1.3rem;
}


.hotSgLt>.song-list .checkLink {
	display: block;
	text-align: center;
	text-decoration: none;
	color: #B5B5B5;
	padding: .48vw 0;
	font-size: .7rem;
}

.pageContent li.search {
	background: #FCFCFD;
	height: 100vh;
}
.search-wrap {
	border-bottom: 1px solid #F0F1F2;	
}
.search-area {
	position: relative;
	background: #EBECEC;
	margin: .68rem .51rem;
	padding: .32rem 0;
	font-size: .52rem;
	border-radius: .64rem ;
}
.search-area svg.search-icon {
	fill: #D1D2D2;
	width: .6rem;
	height: .6rem;
	margin: 0 .34rem;
	vertical-align: middle;
}
.search-area>input {
	display: inline-block;
	width: 13rem;
	vertical-align: middle;
	outline: 0;
	border: 0;
	background: #EBECEC;
}
.search-area .clear {
	display: inline-block;
	width: .78rem;
	height: .78rem;
	text-align: center;
	line-height: 1em;
	position: absolute;
	top: 0.3rem;
	right: 0.3rem;
	font-size: .78rem;
	color: #fff;
	border-radius: 50%;
	background: #BCBDBD;
	transform: rotate(45deg);
}
.search .hide {
	display: none;
}
.search .hot-search>h4{
	padding: .47rem;
	font-size: .43rem;
}
.search .hot-search .hot-list {
	margin-left: .47rem;
	font-size: .56rem;
}
.search .hot-search button {
	display: inline-block;
	padding: .34rem .51rem;
	margin-right: .34rem;
	margin-bottom: .47rem;
	border: 1px solid #E7E8EB;
	border-radius: .64rem;
	background: transparent;
}
.search-wrap .srch-result {

}
.art {
	padding-top : 2.72vw;
	background: url(./imgs/art-bg.png)  no-repeat center 0;
} 

.art .logo {
	text-align: center;
}
.art > .logo > .logosvg {
	fill: red;
	width: 8.96rem;
	height: 1.6rem;
}
.art .open-APP {
	display: block;
	margin: 0 auto;
	width: 13.12rem;
	text-decoration: none;
	color: #D33A31;
	border: 1px solid;
	text-align: center;
	padding: .32rem 1.6rem;
	border-radius: 1.28rem;
	margin-top: 0.35rem;
}
.art .copyright {
	font-size: 0.32rem;
	color: #B7B4B4;
	text-align: center;
	padding: .16rem 0 1.12rem 0;
}