* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
ol,
ul {
	list-style: none;
}

body {
	font-size: 17px;
}

h1,
h2,
h3 {
	font-weight: normal;
}
section>h2:first-child {
	font-size: 0.8rem;
	line-height: 1em;
	padding-left: 0.4rem;
	border-left: 2px solid #D33A31;
	margin: 0.9rem 0 0.34rem 0;
}
.playlist,
.latest-music {
	background: #FCFCFD;
}
.topbar {
	background: #D43C33;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 0.8rem 0.48rem;
}
.topbar .logo {
	width: 6.08rem;
}
.topbar .download-APP{
	text-decoration: none;
	color: #fff;
	border: 1px solid;
	line-height: 2em;
	padding: 0 0.32rem;
	border-radius: 0.8rem;
}

.site-nav > ol {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	text-align: center;
}

.site-nav > ol > li.reco {
	flex-grow: 1;
}

.site-nav > ol > li.hot {
	flex-grow: 1.2;
}

.site-nav > ol > li.ser {
	flex-grow: 1.5;
}

.site-nav li span{
	position: relative;
	display: inline-block;
	line-height: 2.4em;
	padding: 0 0.32rem;
}

.site-nav li.active span {
	color: #D43C33;
}

.site-nav li.active span:after {
	content: '';
	position: absolute;
	left: 0;
	bottom: 0;
	width: 100%;
	border-bottom: 2px solid #D43C33;
}

.pageContent {
	border-top: 1px solid #F0F0F0;
	background: #FCFCFD;
}
.pageContent>li {
	display: none;
}
.pageContent>li.active {
	display: block;
}


.playlist > ul {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	flex-wrap: wrap;
}
.playlist > ul > li {
	width: calc(33.333333% - 0.08rem);
	margin-bottom: 0.48rem;
}
.playlist .cover-pic {
	width: 100%;
}
.playlist .descr {
	padding: 2px 2px 0 6px;
	margin-bottom: 0.16rem;
	font-size: 0.54rem;
	display: block;
	display: -webkit-box;
	height: 2.6em;
	line-height: 1.3em;
	-webkit-line-clamp: 2;
	-webkit-box-orient: vertical;
	overflow: hidden;
	text-overflow: ellipsis;
}

.song-list{
	padding: 0.32rem 0;
}

.loadingCt>img.loading {
	display: block;
	margin: 0 auto;
}

.loadingCt>img {
	display: none;
}

.song-list li {
	padding-left: calc(0.4rem + 2px);
	margin-bottom: 0.32rem ;
	position: relative;
	border-bottom: 1px solid #F8F8F9;
}
.song-list .skip {
	display: block;
	text-decoration: none;
	color: #000;
}
.song-list li h3 {
	font-size: .74rem;
}

.song-list li p {
	font-size: .53rem;
	color: #888888;
	display: flex;
	align-items: center;
}

.song-list li  p > svg {
	fill: #FE672E;
	width: .72rem;
	height: .72rem;
}

.song-list li  a > svg {
	fill: #888888;
	width: 1.04rem;
	height: 1.04rem;
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	right: .48rem;
}

.hotSgLt .hotCover {
	width: 16rem;
	height: 6.4rem;
	position: relative;
	background: #A85A45;
	overflow: hidden;
}

.hotSgLt .hotCover>img {
	width: 8rem;
	position: absolute;
	top: -1.12rem;
	left: -.64rem;
}

.hotSgLt>.song-list .checkLink {
	display: block;
	text-align: center;
	text-decoration: none;
	color: #B5B5B5;
	padding: .48vw 0;
	font-size: .7rem;
}

.art {
	padding-top : 2.72vw;
	background: url(./imgs/art-bg.png)  no-repeat center 0;/*x方向上在在中间，在x方向0开始*/
} 

.art .logo {
	text-align: center;
}
.art > .logo > .logosvg {
	fill: red;
	width: 8.96rem;
	height: 1.6rem;
}
.art .open-APP {
	display: block;
	margin: 0 auto;
	width: 13.12rem;
	text-decoration: none;
	color: #D33A31;
	border: 1px solid;
	text-align: center;
	padding: .32rem 1.6rem;
	border-radius: 1.28rem;
	margin-top: 0.35rem;
}
.art .copyright {
	font-size: 0.32rem;
	color: #B7B4B4;
	text-align: center;
	padding: .16rem 0 1.12rem 0;
}