* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
*:after,
*:before {
	box-sizing: border-box;
}
ul,ol {
	list-style: none;
}
h3 {
	font-weight: normal;
}

body {
	font-size: 0.6rem;
}
.list-cover {
	color: #fff;
	font-size: .72rem;
	position: relative;	
	width: 16rem;
	height: 8rem;
	padding: 1.28rem 0.64rem;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.list-cover .list-cover-bac {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: -2;
	background: url("http://p61dojugl.bkt.clouddn.com/songlist-cover-1.webp") no-repeat center center;
	background-size: cover;
}
.list-cover .fabric {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: -1;
	background-color: rgba(0,0,0,0.7);
}

.list-cover .collect img {
	width: 5.4rem;
	height: 5.4rem;
}

.list-cover .icon-area>svg {
	width: 1rem;
	height: 1rem;
	fill: #D75153;
	position: absolute;
	bottom: 1.28rem;
	left: 0.64rem;
	display: none;
}
.list-cover .icon-area>svg.active {
	display: inline-block;
}

.list-cover .half{
	width: 8rem;
	height: 5.4rem;
	display: flex;
	flex-wrap: wrap;
}
.list-cover .half .contr-id {
	color: #CEBB9F;
	vertical-align: middle;
}
.list-cover .half .avatar {
	width: 1.36rem;
	border-radius: 50%;
	vertical-align: middle;
}
.list-desc {
	padding: 0.43rem 0.64rem 0.8rem 0.64rem;	
	color: #666;
	background: #F8F8F8;
}
.list-desc .mark {
	margin-bottom: 0.43rem;
}
.list-desc .mark>button {
	border: 1px solid #EBEBEB;
	border-radius: 0.5rem;
	background: transparent;
    color: #666;
    font-size: 0.5rem;
    vertical-align: middle;
    line-height: 1em;
    padding: 0.2rem 0.3rem;
    margin-right: 0.3rem;
}
.list-ct {	
	background: #F8F8F8;
}

.list-ct>h3 {
	background: #EEEFF0;
	font-size: 0.43rem;
	line-height: 2em;
	color: #666;
	padding-left: 0.5rem;
}

.list-ct li {
	position: relative;
	padding: 0.3rem 0 0.3rem ;
	margin-bottom: 0.32rem ;
	margin-left: 1.5rem;
	position: relative;
	border-bottom: 1px solid #F1F1F2;
}
.list-ct li .order {
	font-size: 0.7rem;
	color: #999999;
	position: absolute;
	top: 50%;
	left: -0.9rem;
	transform: translateY(-50%);
}
.list-ct .skip {
	display: block;
	text-decoration: none;
	color: #000;
}
.list-ct li h3 {
	font-size: .74rem;
	margin-bottom: 0.2rem;
}

.list-ct li p {
	font-size: .53rem;
	color: #888888;
	display: flex;
	align-items: center;
}

.list-ct li  p > svg {
	fill: #FE672E;
	width: .72rem;
	height: .72rem;
}

.list-ct li  a > svg {
	fill: #888888;
	width: 1.04rem;
	height: 1.04rem;
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	right: .48rem;
}